/// Placeholder to allow overriding predefined variables smoothly.
.people-pic {
  max-width: 200px;
  max-height: 200px;
  border-radius: 75%;
  padding: 0;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none; 
  margin: 0;
  padding: 0;
}

.card {
  border: none; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(248, 248, 248); 
  overflow: hidden;
  padding: 5px;
}

.card img {
  max-width: 190px; 
  max-height: 190px; 
  border-radius: 75%; 
  padding: 5px;
}

.card-text {
  padding: 10px; 
  padding-bottom: 5px;
  text-align: center; 
  background-color: #f9f9f9; 
  color: #333;
  font-weight: bold;
  font-size: 20px;
}
 .card-affil{
    padding: 15px;
    margin-bottom: 20px;
    text-align: center; 
    background-color: #f9f9f9; 
    color: #333;
    font-style: italic;
    font-size: small;
 }

 .spacing_style{
    margin-bottom: 40px;
 }

/*Banner-box*/
.center-logo {
  display: block; 
  margin: 40px auto; 
}
